{:paths ["src"]
 :deps {org.clojure/tools.namespace
        {:git/url "https://github.com/babashka/tools.namespace"
         :git/sha "a13b037215e21a2e71aa34b27e1dd52c801a2a7b"}}
 :min-bb-version "0.6.4"}
