{:paths ["src"]
 :deps {org.clojure/tools.namespace
        {:git/url "https://github.com/babashka/tools.namespace"
         :git/sha "3625153ee66dfcec2ba600851b5b2cbdab8fae6c"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.babashka/cli {:mvn/version "0.3.35"}
        babashka/fs {:mvn/version "0.1.6"}
        cljc.java-time/cljc.java-time {:mvn/version "0.1.12"}}
 :aliases
 {:cider
  {:extra-deps {nrepl/nrepl                          {:mvn/version "0.9.0"}
                cider/cider-nrepl                    {:mvn/version "0.28.4"}
                refactor-nrepl/refactor-nrepl        {:mvn/version "3.5.2"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}}}
